<!--
`chat-scaffold`

Exampler:
    <chat-scaffold label="HTML Input Elements">
      <core-item label="String" url="demos/string.html"></core-item>
      <core-item label="Checkbox" url="demos/checkbox.html"></core-item>
      <core-item label="Radio" url="demos/radio.html"></core-item>
      <core-item label="Range" url="demos/range.html"></core-item>
      <core-item label="Color" url="demos/color.html"></core-item>
    </chat-scaffold>


TODO: 
  チャット入力した文字の改行
  チャットエリアの伸縮
  core-list id="list"の要素に対して、height="1"をあてているので、直す
    -> core-listにheightを指定しないと高さ80px固定になってしまい下部にスペースができてしまう問題
  上記修正後、チャットの発言後に発言した分、スクロールさせる対応

-->

<script type="text/javascript" src="../vendors/peerjs/peer.js"></script>

<link rel="import" href="../vendors/polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="../vendors/polymer/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../vendors/polymer/core-header-panel/core-header-panel.html">
<link rel="import" href="../vendors/polymer/core-item/core-item.html">
<link rel="import" href="../vendors/polymer/core-menu/core-menu.html">
<link rel="import" href="../vendors/polymer/core-menu/core-submenu.html">
<link rel="import" href="../vendors/polymer/core-icon-button/core-icon-button.html">
<link rel="import" href="../vendors/polymer/core-list/core-list.html">
<link rel="import" href="../vendors/polymer/paper-fab/paper-fab.html">
<link rel="import" href="../vendors/polymer/paper-input/paper-input.html">
<link rel="import" href="../vendors/polymer/paper-button/paper-button.html">
<link rel="import" href="../vendors/polymer/paper-toast/paper-toast.html">

<polymer-element name="chat-scaffold" attributes="label">
<template>
  <link rel="stylesheet" href="chat-scaffold.css">

  <core-drawer-panel id="drawerPanel">

    <core-header-panel id="mainHeaderPanel" main mode="cover" shadow>

      <core-toolbar class="medium-tall"></core-toolbar>
      
      <div id="card" on-transitionend="{{cardTransitionDone}}">
        <div id="chat" hidden?="{{containerType !== containerTypes.chat}}">
          <div class="element-label">{{item.label}}</div>
          <div class="chat-area">
            <div class="non-chat-message" layout flex vertical center center-justified hidden?="{{chatRoomLogs[selectedChatRoom].length}}">メッセージがありません。</div>
            <core-list id="list" data="{{chatRoomLogs[selectedChatRoom]}}" hidden?="{{!chatRoomLogs[selectedChatRoom].length}}" height="1">
              <style type="text/css">
                .body {font-size: 16px; line-height: 100%;}
              </style>
              <template>
                <div class="item {{ {selected: selected} | tokenList }}">
                  <div class="message" style="">
                    <span class="from">{{name}}</span>
                    <span class="timestamp">{{time}}</span>
                    <pre class="body">{{message}}</pre>
                  </div>
                </div>
              </template>
            </core-list>
          </div>
          <div class="chat-input-area" horizontal layout>
            <paper-input id="chatMessage" floatingLabel multiline label="ここにメッセージ内容を入力" layout vertical></paper-input>
            <paper-fab on-tap="{{sendChat}}" class="send" icon="send" role="button" aria-label="send"></paper-fab>
            <paper-fab on-tap="" class="file-upload" icon="file-upload" role="button" aria-label="file-upload"></paper-fab>
          </div>
        </div>
        <div id="about" hidden?="{{containerType !== containerTypes.about}}">
          <div class="element-label">ようこそ！</div>
          <div class="settings-area" flex vertical layout center center-justified>
            <paper-input id="userName" floatingLabel label="ユーザー名を入力" value="{{user.name}}"></paper-input>
            <paper-button raisedButton on-tap="{{settingUserInfo}}" label="設定"></paper-button>
          </div>
          <paper-toast relative id="alertUserInfo" class="capsule" text="不正なユーザー名です"></paper-toast>
          <paper-toast relative id="toastUserInfo" class="capsule" text="設定が完了しました"></paper-toast>
        </div>
        <div id="search" hidden?="{{containerType !== containerTypes.search}}">
          <div class="element-label">検索する</div>
          <div>
            ここに検索条件。
          </div>
        </div>
        <div id="settings" hidden?="{{containerType !== containerTypes.settings}}">
          <div class="element-label">設定する</div>
          <div class="settings-area" flex vertical layout center center-justified>
            <paper-input id="userName" floatingLabel label="ユーザー名を入力" value="{{user.name}}"></paper-input>
            <paper-button raisedButton on-tap="{{settingUserInfo}}" label="設定"></paper-button>
          </div>
          <paper-toast relative id="alertUserInfo" class="capsule" text="不正なユーザー名です"></paper-toast>
          <paper-toast relative id="toastUserInfo" class="capsule" text="設定が完了しました"></paper-toast>
        </div>
        <div id="add" hidden?="{{containerType !== containerTypes.add}}">
          <div class="element-label">チャットルームを作る</div>
          <div class="settings-area" flex vertical layout center center-justified>
            <paper-input id="chatRoomName" floatingLabel label="チャットルーム名を入力"></paper-input>
            <paper-button raisedButton on-tap="{{createChatRoom}}" label="作成"></paper-button>
          </div>
          <paper-toast relative id="alertChatRoom" class="capsule" text="不正なチャットルーム名です"></paper-toast>
        </div>
      </div>
      
    </core-header-panel>

    <core-header-panel drawer>

      <core-toolbar class="medium-tall">
        <div class="bottom main-label fit">{{label}}</div>
      </core-toolbar>

      <section flex horizontal layout center-justified>
        <paper-fab on-tap="{{menuSelect}}" container-type="search" class="search" icon="search" role="button" aria-label="search"></paper-fab>
        <paper-fab on-tap="{{menuSelect}}" container-type="settings" class="settings" icon="settings" role="button" aria-label="settings"></paper-fab>
        <paper-fab on-tap="{{menuSelect}}" container-type="add" class="add" icon="add" role="button" aria-label="add"></paper-fab>
      </section>

      <core-menu id="room" on-core-select="{{roomSelect}}">
        <template repeat="{{chatRoom in chatRooms}}">
          <core-item label="{{chatRoom.name}}" tag="{{chatRoom.tag}}"></core-item>
        </template>
      </core-menu>

    </core-header-panel>

  </core-drawer-panel>
</template>
<script>
  Polymer('chat-scaffold', {
    user: {
      id: "",
      name: "",
    },

    p2pConfig: {
      host: 'localhost',
      port: 9000,
      path: '/myapp',
      debug: 2,
      sendContentType: {
        chatMessage: 'chatMessage',
        file: 'file'
      },
    },
    peer: null,// 自身のPeer
    dataConnections: {},// 接続中のPeer

    defaultContainerType: 'about',
    containerType: null,
    containerTypes: {
      chat:     'chat',
      about:    'about',
      search:   'search',
      settings: 'settings',
      add:      'add'
    },
    chatRooms: [],
    chatRoomLogs: {},
    selectedChatRoom: null,

    ready: function() {
getRooms(function(rooms) {
  var _chatRooms = [];
  for (var i = 0, l = rooms.length; i < l; i++) {
    _chatRooms.push({
      name: rooms[i],
      tag: rooms[i]
    });
  }
  this.chatRooms = _chatRooms;
}.bind(this));

      this.peer = new Peer({host: this.p2pConfig.host, port: this.p2pConfig.port, path: this.p2pConfig.path, debug: this.p2pConfig.debug});

      // 開始イベントの受信
      this.peer.on('open', function(id) {
        console.log("open: " + id);
        this.user.id = id;

        var settings = sessionStorage.getItem('settings');
        if (settings) {
          var _settings = JSON.parse(settings);
          this.user.name = _settings.user.name;
        } else {
          this.user.name = 'ユーザー ' + this.user.id;
        }
      }.bind(this));

      // エラーイベントの受信
      this.peer.on('error', function(err) {
        console.log("err!!");
        console.log(err);
      }.bind(this));

      // 接続イベントの受信
      this.peer.on('connection', function(connection) {
        console.log("connection: " + connection.peer);
        connection = this.addConnectionEvents(connection);
        this.dataConnections[connection.peer] = connection;
      }.bind(this));
    },


// コネクション確立時にコールバックを設定する
addConnectionEvents: function(connection) {

  // 接続成功処理
  connection.on('open', function() {
    console.log('open: ' + connection.peer);
    //TODO:  これを使ってgrowlなどで接続を通知するとよさそう
    //console.log(connection.metadata.message);
//    this.connectionList.push(connection.peer);
  }.bind(this));

  // データ受信時の処理
  connection.on('data', function(data) {
    if (data.sendContentType === this.p2pConfig.sendContentType.chatMessage) {

console.log('data: ' + data.chatMessage.message.message);
var chatLog = {
  name: data.chatMessage.message.name,
  message: data.chatMessage.message.message,
  time: data.chatMessage.message.time
};
var tag = data.chatMessage.chatRoom;
if (!this.chatRoomLogs[tag]) {
  var chatRoom = {
    name: tag,
    tag: tag
  };
  this.chatRooms.push(chatRoom);// チャットルームつくる
  this.chatRoomLogs[tag] = [];
}
this.chatRoomLogs[tag].push(chatLog);// チャットルームに発言する

// 喋る
      var message = new SpeechSynthesisUtterance();
      message.volume = 1;// ボリューム。0以上1以下の範囲で指定し、1が最大
      message.rate = 1;// 発話速度を指定。3は3倍の速さで、0.5は半分の速さです。0.1未満、10以上はダメ
      message.pitch = 2;// 話に対するピッチを指定。０〜２で指定できる
      message.lang = "ja-JP";// 音声合成の言語を指定
      message.text = data.chatMessage.message.message;// 喋る文字。最大長さは32767文字
      speechSynthesis.speak(message);
    } else if (data.sendContentType === this.p2pConfig.sendContentType.file) {
      console.log('data: ' + data.fileName);
      if (data.file.constructor === String) {
        // noop
      } else if (data.file.constructor === ArrayBuffer) {
        var blob = new Blob([data.file], {type: data.fileType});
        this.downloadBlob(blob, data.fileName);
      }
    }
  }.bind(this));

  // クローズ時の処理
  connection.on('close', function() {
    console.log('close: ' + connection.peer);
//    this.connectionList.remove(connection.peer);
  }.bind(this));

  return connection;
},

// 接続処理
createConnection: function(connectionId) {
  // 入力なし または 自分のIDを入力した場合にはスルーさせとく
  if (!connectionId || this.user.id === connectionId) {
    return;
  }
  // TODO: この処理中にmedia connectionのエラーが発生するのを調べる
  var connection = this.peer.connect(connectionId, {
    label: 'chat',
    //serialization: 'none',
    serialization: 'binary',
    reliable: true,
    metadata: {message: 'new connection!!'}
  });
  connection = this.addConnectionEvents(connection);
  this.dataConnections[connectionId] = connection;
},

// 接続中の相手全員にチャット送信
sendAllChat: function(chatMessage) {
  if (!chatMessage) {
    return;
  }
  for (var connectionId in this.dataConnections) {
    this._sendChat(connectionId, chatMessage, true);
  }
/*
  // 自分のチャットに内容を通知する
  this.chat.push({sendConnectionId: this.myConnectionId, value: chatMessage});
  this.chatMessage("");
*/
},

// 特定の相手にチャット送信
_sendChat: function(connectionId, chatMessage, disableChatPush) {
  if (!chatMessage || !connectionId) {
    return;
  }
  this.dataConnections[connectionId].send({sendContentType: this.p2pConfig.sendContentType.chatMessage, chatMessage: chatMessage});
/*
  if (!disableChatPush) {// 自分のチャットに内容を通知する
    this.chat.push({sendConnectionId: this.myConnectionId, value: chatMessage});
    this.chatMessage("");
  }
*/
},


    
    domReady: function() {
      this.async(function() {
        this.containerType = this.defaultContainerType;
        this.animateCard();
      }, null, 300);
    },
    
    roomSelect: function(e, detail) {
      if (detail.isSelected) {
        this.item = detail.item;
        if (this.item.children.length) {
          this.item.selected = 0;
        }
        this.item.tag = this.item.getAttribute('tag');
        this.selectedChatRoom = this.item.tag;
        var tag = this.selectedChatRoom;
        if (!this.chatRoomLogs[tag]) {
          this.chatRoomLogs[tag] = [];
        }
        this.$.chatMessage.value = "";// 入力状態を初期化
        this.containerType = this.containerTypes.chat;
        this.animateCard();

// TODO: XD
getConnectionIds(function(connections) {
  connections.forEach(function(connectionId) {
    if (connectionId !== this.user.id) {
      this.createConnection(connectionId);
    }
  }.bind(this));
}.bind(this));
      }
    },

    menuSelect: function(e, i, item) {
      this.item = item;
      this.containerType = this.item.getAttribute('container-type');
      this.$.room.selected = null;// 選択状態初期化
      this.animateCard();
    },
    
    animateCard: function() {
      this.$.card.classList.remove('move-up');
      this.$.card.style.display = 'none';
      this.async(function() {
        this.$.card.style.display = 'block';
        this.moveCard(this.$.mainHeaderPanel.offsetHeight);
        this.async(function() {
          this.$.card.classList.add('move-up');
          this.moveCard(null);
        }, null, 300);
      });
    },
    
    moveCard: function(y) {
      var s = this.$.card.style;
      s.webkitTransform = s.transform = y ? 'translate3d(0, ' + y + 'px,0)' : '';
    },
    
    cardTransitionDone: function() {
      if (this.$.card.classList.contains('move-up')) {
        this.$.card.classList.remove('move-up');
      }
    },

    settingUserInfo: function() {
      var userName = this.$.userName.value;
      if (!userName) {
        this.$.alertUserInfo.show();
        return;
      }
      this.user.name = userName;

      var settings = {
        user: {
          name: this.user.name
        }
      }
      sessionStorage.setItem('settings', JSON.stringify(settings));
      this.$.toastUserInfo.show();
    },

    createChatRoom: function() {
      var chatRoomName = this.$.chatRoomName.value;
      if (!chatRoomName) {
        this.$.alertChatRoom.show();
        return;
      }
      var chatRoom = {
        name: chatRoomName,
        tag: chatRoomName,
      };
      this.chatRooms.push(chatRoom);
createdRoom(chatRoomName);
      this.$.room.selected = this.chatRooms.length - 1;// 選択状態にする
      this.$.chatRoomName.value = "";// 入力状態を初期化
    },

    sendChat: function(e, i, item) {
      var message = this.$.chatMessage.value;
      if (!message) {
        return;
      }
      var chatLog = {
        name: this.user.name,
        message: message,
        time: this.getNow()
      };
      var tag = this.selectedChatRoom;
      this.chatRoomLogs[tag].push(chatLog);
      this.$.chatMessage.value = "";// 入力状態を初期化
this.sendAllChat({
  message: chatLog,
  chatRoom: this.selectedChatRoom
});
    },
    getNow: function() {
      var nowymdhms　=　new Date();
      var nowYear = nowymdhms.getYear();
      var nowMon = nowymdhms.getMonth() + 1;
      var nowDay = nowymdhms.getDate();
      var nowWeek = nowymdhms.getDay();
      var nowHour = nowymdhms.getHours();
      var nowMin = nowymdhms.getMinutes();
      var nowSec = nowymdhms.getSeconds();
      var week = new Array("日","月","火","水","木","金","土");
      return nowYear+"年"+nowMon+"月"+nowDay+"日("+week[nowWeek]+")"+nowHour+"時"+nowMin+"分"+nowSec+"秒";
    },

    // TODO: チャット送信後に最新の投稿位置へスクロールする暫定処理(DOM追加後のCallbackにしたい
    observe: {
      '$.list.data': 'chatRoomLogsChanged'
    },
    chatRoomLogsChanged: function() {
      setTimeout(function() {
        this.$.list.scrollTop = this.$.list.scrollHeight;
      }.bind(this), 10);
    }
  });
</script>
</polymer-element>

<script type="text/javascript">
// Filter definition
PolymerExpressions.prototype.escape = function (input) {
  var elm = document.createElement('SPAN');
  elm.textContent = input;
  return elm.innerHTML;
};
PolymerExpressions.prototype.toHtml = function (input) {
  return input.replace(/\n/g, '<br>');// TODO: 改行を変換.winの場合おかしくなるかもね？
};



// TODO: ほんとはsocket.ioでやり合いたいけど、PeerJSよくわかんない
var gets = function(url, param, callback) {
  if (param) {
    var query = [];
    for (var key in param) {
      var value = param[key];
      query.push(encodeURIComponent(key) + '=' + encodeURIComponent(value));
    }
    query = query.join('&');
    url += (query ? '?' + query : '');
  }

  var xhr = new XMLHttpRequest();
  xhr.open('GET', url, true);
  xhr.onload = function(e) {
    var responseText = xhr.responseText;
    var responseObject = JSON.parse(responseText);
    callback && callback(responseObject);
  };
  xhr.onerror = function(e) {
    var responseText = xhr.responseText;
    var responseObject = JSON.parse(responseText);
    callback && callback(responseObject);
  };
  xhr.send(null);
  return xhr;
};
var getConnectionIds = function(callback) {
  gets('http://localhost:9000/getConnected', null, callback);
};
var getRooms = function(callback) {
  gets('http://localhost:9000/getRooms', null, callback);
};
var createdRoom = function(roomName, callback) {
  gets('http://localhost:9000/createdRoom', {roomName: roomName}, callback);
};
</script>
